:root {
  --background: rgb(24, 26, 27);
  --primary: rgb(255, 255, 255);
  --primary-transparent: rgba(255, 255, 255, 0.2);
  --box-shadow: 0px 0px 10px 0px rgba(0, 255, 255, 0.7);
  --blue: #47b5ff;
}

[data-theme="light"] {
  --background: rgb(250, 250, 250);
  --primary: rgb(24, 26, 27);
  --primary-transparent: rgb(24, 26, 27, 0.2);
  --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  height: 100%;
}

div#root {
  min-height: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
