.switch {
  background-color: var(--background);
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: 55px;
  height: 30px;
  padding: 5px;
}

.switchNeon {
  box-shadow: 0px 0px 10px 0px rgba(0, 255, 255, 0.7);
}

.circle {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  transition: margin 300ms linear;
}

.moveLeft {
  margin-right: 50%;
}

.moveRight {
  margin-left: 50%;
}
