@font-face {
  font-family: "Inter 18pt";
  src: url("Inter18pt-SemiBold.woff2") format("woff2"),
    url("Inter18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("Inter18pt-Regular.woff2") format("woff2"),
    url("Inter18pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("Inter18pt-Bold.woff2") format("woff2"),
    url("Inter18pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
