.item {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px 7px 10px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  min-height: 50px;
  max-width: 700px;
  width: 100%;
}

.text {
  color: var(--primary);
  font-size: 20px;
  word-break: break-word;
  width: calc(100% - 90px);
}

.lineThrough {
  color: var(--primary-transparent);
  text-decoration: line-through 1px var(--blue);
}

/* Icons */

.iconWrapper {
  display: flex;
  column-gap: 15px;
  width: 90px;
  height: 20px;
}

.icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: opacity 200ms linear;
}

.icon:hover {
  opacity: 0.7;
}

.completedIcon {
  fill: var(--blue);
}

/* Edit Style  */

.input {
  background: var(--background);
  border: none;
  border-bottom: 1px solid var(--primary-transparent);
  caret-color: var(--primary);
  color: var(--primary);
  font-size: 20px;
  outline: none;
  height: 100%;
  width: calc(100% - 60px);
}

.editableIconWrapper {
  height: 20px;
  display: flex;
  column-gap: 15px;
}

.updateButton {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  transition: transform 300ms ease, opacity 300ms linear;
}

.updateButton:disabled {
  opacity: 0;
  z-index: -1;
}

.updateButton svg {
  fill: var(--primary);
}
