.item {
  color: var(--primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px 7px 10px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  min-height: 50px;
  max-width: 500px;
  width: 100%;
}

.text {
  color: var(--primary);
  font-size: 20px;
  word-break: break-word;
  width: calc(100% - 60px);
}

.lineThrough {
  color: var(--primary-transparent);
  text-decoration: line-through 1px var(--completed);
}

.iconWrapper {
  display: flex;
  column-gap: 15px;
  width: 60px;
  height: 20px;
}

.icon {
  width: 20px;
  height: 20px;
}
